<div class="banner"></div>
<div class="content">
  <div style="width: 100%; height: 20px;"></div>
  <mat-grid-list cols="3" rowHeight="360px" [gutterSize]="'20px'">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="small-content">
        <div class="small-content-header">
          <a class="small-content-title">마감 임박! 인기있는 소모임</a>
          <a class="small-content-subtitle">지역별 인기 소모임</a>
          <span class="spacer"></span>
          <a class="small-content-subtitle">서울</a>
          <a class="small-content-subtitle">|</a>
          <a class="small-content-subtitle content-router" routerLink="/articles">
            <mat-icon class="small-content subtitle content-icon">add_circle_outline</mat-icon>더보기
          </a>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <div class="small-content">
        <div *ngIf="signedInUser" class="account">
          <div class="account-header">
            <div class="account-img"></div>
            <div class="account-info">
              <div class="account-info-rows">
                <div class="account-info-row">
                  <a class="small-content-title">{{signedInUser.name}}</a>
                  <a class="small-content-subtitle">|</a>
                  <a class="small-content-subtitle">내 정보</a>
                </div>
                <div class="account-info-row">
                  <a class="small-content-subtitle">{{signedInUser.email}}</a>
                </div>
              </div>
            </div>
            <div class="account-service">
              <div class="account-service-buttons">
                <button mat-flat-button class="account-service-button" color="disabled" (click)="logOut()">로그아웃</button>
              </div>
            </div>
          </div>
          <mat-tab-group mat-stretch-tabs dynamicHeight [backgroundColor]="'primary'">
            <mat-tab class="account-tab" label="일정">
              <div class="schedule">
                <div class="schedule-calendar">
                  <div class="calendar-header">
                    <button mat-icon-button (click)="toLastMonth()">
                      <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <span class="spacer"></span>
                    <div class="calendar-header-yearmonth">
                      <div class="calendar-year">{{year}}</div>
                      <div class="calendar-month">{{month}}</div>
                    </div>
                    <span class="spacer"></span>
                    <button mat-icon-button (click)="toNextMonth()">
                      <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                  </div>
                  <div class="calendar-body">
                    <table class="calendar-body-table">
                      <tr class="calendar-body-header">
                        <td class="calendar-body-header" *ngFor="let day of days">{{day}}</td>
                      </tr>
                      <tr *ngFor="let weekIdx of arrayWeeks">
                        <td *ngFor="let dayIdx of arrayDays">
                          <button mat-flat-button class="calendar-body-date" color="primary"
                          *ngIf="isSelectedDate(dayIdx, weekIdx)">
                            {{(firstSunday + dayIdx + weekIdx*7) <= numDates &&
                              (firstSunday + dayIdx + weekIdx*7) >= 1 ?
                              (firstSunday + dayIdx + weekIdx*7) : '' }}
                          </button>
                          <button mat-stroked-button class="calendar-body-date-border" color="primary"
                          *ngIf="isToday(dayIdx, weekIdx) && !isSelectedDate(dayIdx, weekIdx)"
                          (click)="selectDate(dayIdx, weekIdx)">
                            {{(firstSunday + dayIdx + weekIdx*7) <= numDates &&
                              (firstSunday + dayIdx + weekIdx*7) >= 1 ?
                              (firstSunday + dayIdx + weekIdx*7) : '' }}
                          </button>
                          <button mat-button class="calendar-body-date" color="primary"
                          *ngIf="validDates(dayIdx, weekIdx) && !isToday(dayIdx, weekIdx) && !isSelectedDate(dayIdx, weekIdx)"
                          (click)="selectDate(dayIdx, weekIdx)">
                            {{(firstSunday + dayIdx + weekIdx*7) <= numDates &&
                              (firstSunday + dayIdx + weekIdx*7) >= 1 ?
                              (firstSunday + dayIdx + weekIdx*7) : '' }}
                          </button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="schedule-info">
                  <div class="schedule-info-header">
                    <a class="small-content-subtitle-big schedule-router" routerLink="/articles">
                      <mat-icon class="small-content-subtitle-big schedule-icon">insert_invitation</mat-icon>
                      내 일정
                      <mat-icon class="small-content-subtitle-big schedule-icon">keyboard_arrow_right</mat-icon>
                    </a>
                  </div>
                  <div class="schedule-info-title">
                    {{selectedDate.getFullYear()}}년 {{selectedDate.getMonth()+1}}월 {{selectedDate.getDate()}}일
                  </div>
                  InfoInfoInfoInfov InfoInfovvInfovvvvInfov vInfo v Info Info Info Info Info 
                </div>
              </div>
            </mat-tab>
            <mat-tab class="account-tab" label="모임">
              <div class="example-large-box mat-elevation-z4">
                Working On!
              </div>
            </mat-tab>
            <mat-tab class="account-tab" label="글">
              <div class="example-large-box mat-elevation-z4">
                Working On!
              </div>
            </mat-tab>
            <mat-tab class="account-tab" label="친구">
              <div class="example-large-box mat-elevation-z4">
                Working On!
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div *ngIf="!signedInUser" class="account">
          <div class="account-login">
            <div class="account-login-header">소모임에 로그인하고 편리하게 내 모임을 관리하세요.</div>
            <button mat-flat-button class="account-login-button" color="primary" routerLink="/sign_in">로그인</button>

            <div class="account-login-footer">
              <a class="small-content-subtitle content-router" routerLink="/sign_up">
                <mat-icon class="small-content subtitle content-icon">person</mat-icon>
                회원가입
                <mat-icon class="small-content subtitle content-icon">keyboard_arrow_right</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="small-content">
        <div class="small-content-header">
          <a class="small-content-title">함께해요</a>
          <a class="small-content-subtitle">따끈따끈한 소모임 모집 게시글</a>
          <span class="spacer"></span>
          <a class="small-content-subtitle">{{articles.length}}개의 글</a>
          <a class="small-content-subtitle">|</a>
          <a class="small-content-subtitle content-router" routerLink="/articles">
            <mat-icon class="small-content subtitle content-icon">add_circle_outline</mat-icon>더보기
          </a>
        </div>
        <div style="width: 100%;">
          <ul class="articles">
            <li *ngFor="let article of articles">
              <a routerLink="/article/{{article.id}}">
                <span class="badge">{{article.id}}</span> {{article.title}}{{article.content}}
              </a>
              <button class="delete" title="delete article">x</button>
            </li>
          </ul>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>