<div class="main-div">
  <mat-card>
    <div class="main-row">
      <img class="logo" src="../../assets/logo_transparent.png"/>
    </div>
    <div class="main-row">
      <mat-grid-list cols="3" rowHeight="80px">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <mat-grid-tile [colspan]="2" [rowspan]="2">
            <div>
              <mat-form-field style="width: 240px;" appearance="outline">
                <mat-label>아이디</mat-label>
                <input matInput formControlName="user_id" placeholder="아이디"/>
              </mat-form-field>
              <mat-form-field style="width: 240px;" appearance="outline">
                <mat-label>비밀번호</mat-label>
                <input matInput type="password" formControlName="password" placeholder="비밀번호"/>
                <mat-error *ngIf="errorSignIn">{{errorSignIn}}</mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="2">
            <div>
              <button mat-raised-button color="primary" class="sign-in-button">로그인</button>
            </div>
          </mat-grid-tile>
        </form>
        <mat-grid-tile [colspan]="3">
          <div>
            <button mat-raised-button color="accent" class="sign-up-button" routerLink="/sign_up">가입하고 소모임 찾기 ></button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="main-row">
      <button mat-fab color="basic" class="sns-button kakao-button"></button>
      <span class="spacer"></span>
      <button mat-fab color="basic" class="sns-button naver-button"></button>
      <span class="spacer"></span>
      <button mat-fab color="basic" class="sns-button google-button"></button>
      <span class="spacer"></span>
      <button mat-fab color="basic" class="sns-button facebook-button"></button>
    </div>
    <div class="main-row">
      <h3>
        Github Link: <a href="https://github.com/mylumiere/somoim">https://github.com/mylumiere/somoim</a>
      </h3>
    </div>
  </mat-card>
</div>