<div class="content">
  <div style="width: 100%; height: 20px;"></div>
  <mat-grid-list cols="3" rowHeight="720px" [gutterSize]="'20px'">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="small-content">
        <div class="profile-image"></div>
        <div class="profile-user-id">{{user.name}}({{user.user_id}})</div>
        <div class="profile-sub">{{user.email}}</div>
        <div class="profile-sub">{{user.nickname ? user.nickname : '닉네임을 설정해주세요.'}}</div>
        <div class="profile-sub">{{user.date_of_birth}}</div>
        <div class="profile-about">{{user.about ? user.about : '나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.'}}</div>
        <button mat-stroked-button color="basic" class="profile-edit-button">프로필 수정하기</button>
        <div class="profile-withdrawal" style="text-align: right;">
          <span>회원탈퇴 ></span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      profile2
    </mat-grid-tile>
  </mat-grid-list>

  <div>{{user.user_id}}</div>
  <div>{{signedInUser.user_id}}</div>
</div>