<div class="content" *ngIf="user">
  <div style="width: 100%; height: 20px;"></div>
  <mat-grid-list cols="3" rowHeight="900px" [gutterSize]="'20px'">
    <mat-grid-tile [colspan]="1">
      <div class="small-content">
        <div class="profile-content">
          <div class="profile-image"></div>
          <div class="profile-user-id">{{user.nickname}}</div>
          <div class="profile-sub">{{user.user_id}} / {{user.date_of_birth}}</div>
          <div class="profile-about">{{user.about ? user.about : '나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.나는 자기소개입니다.'}}</div>
          <button mat-stroked-button color="basic" class="profile-edit-button">프로필 수정하기</button>
          <div class="profile-withdrawal" style="text-align: right;">
            <span>회원탈퇴 ></span>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <div class="small-content">
        <mat-tab-group mat-stretch-tabs>
          <mat-tab label="모임">
            <div class="moim-set">
              <div class="moim-set-header">
                내가 리더인 소모임
              </div>
              <div class="moim-set-cards">
                <div class="moim-set-cards-null" *ngIf="!user.leader_moims.length">
                  <div style="text-align: center;">
                    <div>만든 소모임이 없습니다. 새로운 소모임을 만들어보세요!</div>
                    <button mat-flat-button color="primary" style="margin-top: 20px;">소모임 만들기</button>
                  </div>
                </div>
                <mat-card class="moim-set-card" *ngFor="let moim of user.leader_moims">
                  <div class="moim-set-card-header">
                    <div class="moim-set-card-title">
                      {{moim.name.length > 25 ? moim.name.substr(0,25)+'...' : moim.name}}
                    </div>
                  </div>
                  <img src="../../assets/logo.png" alt="Logo" class="moim-set-card-image">
                  <div class="moim-set-card-state">
                    <div class="moim-set-card-state-closed" *ngIf="moim.members.length==moim.max_members">마감</div>
                    <div class="moim-set-card-state-opened" *ngIf="moim.members.length!=moim.max_members">구인 중</div>
                    {{moim.members.length}} / {{moim.max_members}}
                  </div>
                  <button mat-flat-button color="primary" class="moim-set-card-button">보러가기</button>
                </mat-card>
              </div>
            </div>
            <div class="moim-set">
              <div class="moim-set-header">
                멤버인 소모임
              </div>
              <div class="moim-set-cards">
                <div class="moim-set-cards-null" *ngIf="!user.member_moims.length">
                  <span>가입한 소모임이 없습니다. 소모임에 가입해보세요!</span>
                </div>
                <mat-card class="moim-set-card" *ngFor="let moim of user.member_moims">
                  <div class="moim-set-card-header">
                    <div class="moim-set-card-title">
                      {{moim.name.length > 25 ? moim.name.substr(0,25)+'...' : moim.name}}
                    </div>
                  </div>
                  <img src="../../assets/logo.png" alt="Logo" class="moim-set-card-image">
                  <div class="moim-set-card-state">
                    <div class="moim-set-card-state-closed" *ngIf="moim.members.length==moim.max_members">마감</div>
                    <div class="moim-set-card-state-opened" *ngIf="moim.members.length!=moim.max_members">구인 중</div>
                    {{moim.members.length}} / {{moim.max_members}}
                  </div>
                  <button mat-flat-button color="primary" class="moim-set-card-button">보러가기</button>
                </mat-card>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="글 & 댓글">
            {{user.articles}}
          </mat-tab>
          <mat-tab label="일정">
            <div class="schedule">
              <div class="schedule-calendar">
                <div class="calendar-header">
                  <button mat-icon-button (click)="toLastMonth()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                  </button>
                  <span class="spacer"></span>
                  <div class="calendar-header-yearmonth">
                    {{year}}년 {{month}}월
                  </div>
                  <span class="spacer"></span>
                  <button mat-icon-button (click)="toNextMonth()">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </button>
                </div>
                <div class="calendar-body">
                  <table class="calendar-body-table">
                    <tr class="calendar-body-header">
                      <td class="calendar-body-header" *ngFor="let day of days">{{day}}</td>
                    </tr>
                    <tr *ngFor="let weekIdx of arrayWeeks">
                      <td class="calendar-td" *ngFor="let dayIdx of arrayDays">
                        <div class="calendar-body-date" *ngIf="isSelectedDate(dayIdx, weekIdx)">
                          <button mat-flat-button class="calendar-body-date-button" color="primary" >
                            {{(firstSunday + dayIdx + weekIdx*7) <= numDates &&
                              (firstSunday + dayIdx + weekIdx*7) >= 1 ?
                              (firstSunday + dayIdx + weekIdx*7) : '' }}  
                          </button>
                          <div class="calendar-body-date-dots">
                            <span class="spacer"></span>
                            <div class="calendar-body-date-dot"></div>
                            <span class="spacer"></span>
                          </div>
                        </div>
                        <div class="calendar-body-date" *ngIf="isToday(dayIdx, weekIdx) && !isSelectedDate(dayIdx, weekIdx)">
                          <button mat-stroked-button class="calendar-body-date-button" (click)="selectDate(dayIdx, weekIdx)" color="primary" >
                            {{(firstSunday + dayIdx + weekIdx*7) <= numDates &&
                              (firstSunday + dayIdx + weekIdx*7) >= 1 ?
                              (firstSunday + dayIdx + weekIdx*7) : '' }}  
                          </button>
                          <div class="calendar-body-date-dots">
                            <span class="spacer"></span>
                            <div class="calendar-body-date-dot"></div>
                            <div class="calendar-body-date-dot"></div>
                            <div class="calendar-body-date-dot"></div>
                            <span class="spacer"></span>
                          </div>
                        </div>
                        <div class="calendar-body-date" *ngIf="validDates(dayIdx, weekIdx) && !isToday(dayIdx, weekIdx) && !isSelectedDate(dayIdx, weekIdx)">
                          <button mat-button class="calendar-body-date-button" (click)="selectDate(dayIdx, weekIdx)" color="primary" >
                            {{(firstSunday + dayIdx + weekIdx*7) <= numDates &&
                              (firstSunday + dayIdx + weekIdx*7) >= 1 ?
                              (firstSunday + dayIdx + weekIdx*7) : '' }}  
                          </button>
                          <div class="calendar-body-date-dots">
                            <!--div class="calendar-body-date-dot"></div-->
                          </div>
                        </div>
                    </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            {{schedules}}
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>