<div class="main-div">
  <mat-card>
    <mat-card-title>
      <h1>회원가입</h1>
    </mat-card-title>
    <mat-divider></mat-divider>
    <div>
      <div class="main-row">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username"/>
        </mat-form-field>
      </div>
      <div class="main-row">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password"/>
        </mat-form-field>
      </div>
      <div class="main-row">
        <mat-form-field>
          <mat-label>Password Confirm</mat-label>
          <input matInput placeholder="Password Confirm"/>
        </mat-form-field>
      </div>
      <div class="main-row">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email"/>
        </mat-form-field>
      </div>
      <!--div class="main-row">
        <h2>이용약관</h2>
        <mat-card style="width: 800px;">
          texttexttexttextt
        </mat-card>
      </div-->
      <div class="main-row">
        <button mat-raised-button color="accent">완료</button>
      </div>
    </div>
  </mat-card>
</div>