<mat-toolbar>
  <a class="navs" mat-button routerLink="">Somoim</a>
  <a class="navs" mat-button routerLink="/about">About</a>
  <a *ngIf="signedInUser" class="navs" mat-button routerLink="/articles">Articles</a>
  <span class="spacer"></span>
  <a *ngIf="!signedInUser" class="navs" mat-raised-button color="primary" routerLink="/sign_in">로그인</a>
  <a *ngIf="!signedInUser" class="navs" mat-raised-button color="accent" routerLink="/sign_up">회원가입</a>
  <span *ngIf="signedInUser">{{signedInUser.user_id}}</span>
  <a *ngIf="signedInUser" class="navs" mat-raised-button color="primary" (click)="logOut()">로그아웃</a>
</mat-toolbar>
<router-outlet></router-outlet>
<app-messages></app-messages>
