/* ArticlesComponent's private CSS styles */
.spacer {
  flex: 1 1 auto;
}

.navs {
  margin: 5px
}

.content {
  width: 1140px;
  margin: 0 auto;
}

.main-row {
  width:100%;
  padding: 5px;
  text-align: center;
}

.main-div{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  background-color: #e57b5c;
  color: white;
}