
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-primary-palette: (
 50: #f6e6e5,
 100: #f4c5b7,
 200: #eca089,
 300: #e57c5c,
 400: #e1613a,
 500: #dd4417,
 600: #d33f14,
 700: #c63910,
 800: #b9320b,
 900: #a02503,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$my-accent-palette: (
 50: #e9eaf3,
 100: #c8cae2,
 200: #a5a7cd,
 300: #8385b9,
 400: #6b6aaa,
 500: #54509c,
 600: #4e4893,
 700: #453f87,
 800: #3e357a,
 900: #312464,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);


$front-primary: mat.define-palette($my-primary-palette, 300, 100, 500);
$front-accent: mat.define-palette($my-accent-palette, 600, 400, 800);

// The warn palette is optional (defaults to red).
$front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-theme: mat.define-light-theme((
  color: (
    primary: $front-primary,
    accent: $front-accent,
    warn: $front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($front-theme);

